@import "whitespace-reset", "mixins"

body
  padding: 50px 0 0 0
  font: normal 16px Georgia, serif
  background: #3f3e8e

header
  width: 900px
  height: 320px
  margin: 0 auto 20px auto
  background: transparent url("../images/logo.jpg") 0 0 no-repeat

h1,
h2
  text-indent: -8685px

h3
  font-size: 20px

article
  width: 858px
  padding: 20px
  margin: 0 auto
  text-align: center
  border: 1px dashed #53533b
  background: #eacc9a
  p
    padding: 0 0 20px 0
    text-align: left
    line-height: 140%
  ol
    display: inline-block
    padding: 0 0 0 25px
    font-size: 20px
    text-align: left
    list-style: upper-alpha
  a
    text-decoration: none
    color: #3f3e8e

footer
  padding: 15px 0
  font-size: 12px
  text-align: center
  color: #b5b5b5
  a
    color: #ffffff
